body {
  background-color: #070033;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fixed-content {
  top: 0;
  bottom:10%;
  width:100%;
  background-color:  #070033;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;

  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.afterfixed-content {
  top: 90%;
  width:100%;
  height: 5%;
  background-color:  #070033;
  /* bottom:0%; */
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;

}

.chatinput {
  top: 90%;
  width:90%;
  height: 5%;
  /* bottom:0%; */
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  display: flex;
  float: inline-start;
}

.sendbutton {
  top: 90%;
  width:8%;
  height: 100%;
  /* bottom:0%; */
  overflow-y:scroll;
  overflow-x:hidden;
  display: flex;
  float:inline-end;
}
.center {
  margin: 0 ;
  padding-bottom: 50px;
  padding-top: 50px;
  width:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color:white;
  background-color: #070033;
  text-align: center ;
}
label{
  height: 7em;
} 
input{
  height: 2em;
  width: 30vw;
  min-width: min-content;
}
.contentcenter{

}
.loginButton {
  width: 25vw;
  border-radius: 50px;
  height: 4vh;
}
.trendingTags{
  display: inline-block;
  background-color:  #F36D21;
  ;
  margin: 5px;
  padding: 5px;
  border-radius: 15px
}
.activeTags{
  display: inline-block;
  background-color: #15C69B;
  ;
  margin: 5px;
  padding: 5px;
  border-radius: 15px
}
.matchingTags{
  display: inline-block;
  background-color:  #F36D21;
  ;
  margin: 5px;
  padding: 5px;
  border-radius: 15px
}
.tagUsersList{
  text-align: start;
  margin-left: 2vw;
}
.listImage{
  width: 5vw;
  border-radius: 50%;
  vertical-align: middle;
}
.profileImage{
  /* width: 50vw; */
  border-radius: 10%;
  vertical-align: middle;
}
.tabletags{
  /* width: 20%; */
}

.tablepix{
  /* width: 30%; */

}
.tablename{
  /* width: 50%; */
}