body {
  background-color: #070033 !important;
  margin-top: 60px;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 
}
/* body::before{
  display:block;
  content: "";
  height: 20%;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fixed-content {
  top: 170px;
  bottom:5%;
  width:100%;
  padding-top: 30px;
  background-color:  #070033;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;

  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.afterfixed-content {
  top: 95%;
  width:100%;
  height: 5%;
  background-color:  #070033;
  /* bottom:0%; */
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;

}

.chatinput {
  top: 95%;
  width:86%;
  height: 5%;
  /* bottom:0%; */
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  display: flex;
  float: inline-start;
}

.sendbutton {
  top: 95%;
  width:14%;
  height: 100%;
  /* bottom:0%; */
  overflow-y:scroll;
  overflow-x:hidden;
  display: flex;
  float:inline-end;
}
.center {
  /* margin: 0 ;
  padding-bottom: 50px;
  padding-top: 50px;
  width:50%; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  margin-top: 60px;
  min-height: 100vh;
  height: auto;
  color:white;
  background-color: #070033;
  text-align: center ;
}
.centerTop {
  height: auto;
  color:white;
  /* width:100vw; */
  background-color: #070033;
  text-align: start ;
}
.centerCenter {
  margin: 0 ;
  padding-bottom: 50px;
  padding-top: 50px;
  width:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color:white;
  background-color: #070033;
  text-align: center ;
  
}
label{
  /* height: 7em; */
} 
input{
  height: 2em;
  width: 30vw;
  min-width: min-content;
}

.addtaginput{
  height: 2em;
  width: 30vw;
  border-radius: 45px;
  min-width: min-content;
  margin-right: 20px;
}
.addtaginputbutton{
  border-radius: 45px;
  background-color:#089A6E;
  color:white;
}
.contentcenter{

}
.loginButton {
  width: 25vw;
  border-radius: 50px;
  height: 4vh;
}
.trendingTags{
  display: inline-block;
  background-color:  #F36D21;
  ;
  margin: 5px;
  padding: 5px;
  border-radius: 15px
}
.activeTags{
  display: inline-block;
  background-color: #15C69B;
  ;
  margin: 5px;
  padding: 5px;
  border-radius: 15px
}
.matchingTags{
  display: inline-block;
  background-color:  #F36D21;
  ;
  margin: 5px;
  padding: 5px;
  border-radius: 15px
}
.tagUsersList{
  text-align: start;
  margin-left: 2vw;
}
.dashboardImage{
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  vertical-align: middle;
}
.listImage{
  width: 5vw;
  border-radius: 50%;
  vertical-align: middle;
}
.profileImage{
  /* width: 50vw; */
  border-radius: 10%;
  vertical-align: middle;
}
.tabletags{
  width: 30%;
}
.profilePageImage{
  height: 30vh;
  border-radius: 10%;
  vertical-align: middle;
  margin-bottom: 50px;
  margin-top: 30px;
}

.tablepix{
  width: 20%;
  text-align: center;

}
.tablename{
  /* width: 50%; */
}
.tablerow{
  /* background-color: brown; */
  margin-left:auto;
  margin-right:auto;
  border-color: white;
  border-bottom: #F36D21;
  /* border-bottom:2px solid white;  */
}

.backicon{
 font-size:48px;
 color:white;
 margin-right: 55px;
 text-align: start;

}
.backtitle{
  font-size:48px;
  text-align: center;
  color:white;

 }